.mainPicture
{
	text-align:center;
	padding: 10px;
}

.fontation
{
	font-size:30px;
}

.fontition
{
	font-size:18px;
}

.baradjust
{
	margin-top:-13px;
}

.hcustom
{
    font-family: Helvetica, serif;
    font-size:110%;
    margin-top:5%;
}